@charset "UTF-8";
:root {
  --bg-color: #ffffff;
  --text-color: #555555;
  --accent-color: rgba(156, 94, 255, 0.2);
}

body {
  margin: 0;
  max-width: 1440px;
  padding: 0 15px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}
